:root {
    --white-color: #ffffff;

    --text1-color: #253053;
    --text2-color: #5E6067;
    --text3-color: #7a7a7a;
    --text-common-color: #888;
    --placeholder-color: #8c8c8c;
    --b2-color: #2998ff;

    --box-border-color-1: #E7E7E7;
    --bg-color: #EFEFEF;

    --sidebar-bg: #202532;
    --sidebar-bg-light: #2D2F39;
    --sidebar-text-color: #8A8C91;
    --sidebar-active-color-1: #ffffff;
    --sidebar-active-color-2: #ffffff33;
}

.color-text1 { color: var(--text1-color) !important; }
.color-text2 { color: var(--text2-color) !important; }
.color-text3 { color: var(--text3-color) !important; }
.color-text-common { color: var(--text-common-color) !important; }
.color-placeholder { color: var(--placeholder-color) !important; }
.color-b2 { color: var(--b2-color) !important; }
.color-white { color: var(--white-color) !important; }

.red {background-color: red;}
.blue {background-color: blue;}