@import url('grid.css');
@import url('colors.css');
@import url('fonts.css');

html, body {
    padding: 0;
    margin: 0;
    font-family: 'daytonapro', sans-serif;
}

.wrapper-body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}

.topbar {
    padding: 0.75rem 0;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--box-border-color-1);
}
.topbar .user-box img {
    width: 2.5rem;
    height: 2.5rem;
}

.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}